<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
  <Header>
    <Title>SELECT INTO</Title>
    <Shortcut>SELECT INTO</Shortcut>
  </Header>
  <Snippet>
    <Code Language="SQL">SELECT * INTO test FROM M_SrlMaterial WHERE</Code>
  </Snippet>
</CodeSnippet>
</CodeSnippets>