<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
  <Header>
    <Title>本日変更テーブル</Title>
    <Shortcut>myChangeTable</Shortcut>
  </Header>
  <Snippet>
    <Code Language="SQL">select * from sys.tables
where is_ms_shipped = 'False' and
convert(nvarchar, modify_date, 111) = convert(nvarchar, getdate(), 111)</Code>
  </Snippet>
</CodeSnippet>
</CodeSnippets>