<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets
    xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>int</Title>
      <Shortcut>myCheckNumber</Shortcut>
    </Header>
    <Snippet>
      <Code Language="cSharp">
        <![CDATA[int ret;
        if (int.TryParse(str, out ret) == false) return; //数値でなければスルー]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
