<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets
    xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>文字列</Title>
      <Shortcut>myContains</Shortcut>
    </Header>
    <Snippet>
      <Code Language="cSharp">
        <![CDATA[if (new int[] { "", "", "" }.Contains("") == true)
            {
            }]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
