<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets
    xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>エラーが発生しました</Title>
      <Shortcut>myMessageBox</Shortcut>
    </Header>
    <Snippet>
      <Code Language="cSharp">
        <![CDATA[MessageBox.Show("エラーが発生しました：" + ex.Message + Environment.NewLine + ex.StackTrace);]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
