<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets
    xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>削除(DGV)</Title>
      <Shortcut>mySQLSERVER</Shortcut>
    </Header>
    <Snippet>
      <Code Language="cSharp">
        <![CDATA[#region 削除
            ////////////////////////////////////////////////////////////////////////////////
            // 削除
            ////////////////////////////////////////////////////////////////////////////////
            if (senderGrid.Columns[e.ColumnIndex].Name == "削除")
            {
                var sql = "";
                if (SQLSERVERHelper.Delete(sql) == 0)
                {
                    return;
                }
                ////////////////////////////////////////////////////////////////////////////////
                // 表示
                ////////////////////////////////////////////////////////////////////////////////
            }
            #endregion]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
