<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets
    xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>コントロール名からコントロールを取得する</Title>
      <Shortcut>myコントロール名からコントロールを取得する</Shortcut>
    </Header>
    <Snippet>
      <Code Language="cSharp">
        <![CDATA[Control[] cList = this.Controls.Find("", true);
            var tb = (TextBox)cList[0];]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
