<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
  <Header>
    <Title>日付変換yyyyMMdd</Title>
    <Shortcut>my日付変換yyyyMMdd</Shortcut>
  </Header>
  <Snippet>
    <Code Language="SQL">CONVERT(nvarchar,GETDATE(),112)</Code>
  </Snippet>
</CodeSnippet>
</CodeSnippets>